:root {
  --color-primary: #44318D;
  --color-primary-light: #8167A5;
  --color-primary-dark: #2A1B3D;
  --color-secondary: #A4B3B6;
  --color-accent: #D83F87;
  --color-white: #fff;
  --color-black: #000;

  --font-primary: "Gentium Basic", serif;
  --font-secondary: Atma, sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3 {
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

h4, h5, h6 {
  font-family: var(--font-secondary);
  color: var(--color-primary-light);
}

ul, ol, dl {
  color: var(--color-primary-dark);
  font-family: var(--font-primary);
  font-weight: bold;
}

a {
  color: var(--color-accent);
  font-family: var(--font-primary);
}

blockquote {
  font-family: var(--font-primary);
  font-style: italic;
  color: var(--color-primary-dark);
}

cite {
  font-family: var(--font-primary);
  font-style: italic;
  color: var(--color-primary);
}

em {
  color: var(--color-primary);
  font-style: italic;
}

strong {
  color: var(--color-primary);
  font-weight: bold;
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
  color: var(--color-primary);
}

del {
  color: var(--color-primary);
  background-color: var(--color-primary-light);
}

ins {
  color: var(--color-secondary);
}

abbr {
  color: var(--color-primary);
}

mark {
  background-color: var(--color-accent);
}
