footer {
  background-color: var(--color-primary);
}

.footer-list {
  text-decoration: none;
}

.line-1 {
  background-color: var(--color-accent);
  color: var(--color-accent);
  margin: 0;
  max-height: 15px;
}

.line-2 {
  background-color: var(--color-black);
  color: var(--color-black);
  margin: 0;
  max-height: 15px;
}

.copyright {
  color: var(--color-white);
}
