.subscribe {
  background-color: var(--color-primary);
}

.subscribe-label {
  color: var(--color-white);
}

label,
legend {
  font-family: var(--font-secondary);
}

.bold {
  font-weight: bold;
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated[type="checkbox"]:invalid + label::before,
.is-validated select:invalid,
.is-validated select[type="checkbox"]:invalid + label::before {
  border-color: #c33;
}

.error-message {
  display: none;
  background-color: #fee;
  color: #c33;
  border-radius: .5em;
}

.error-message-highlighted {
  background-color: #fee;
  color: #fff;
  border-radius: 1em;
}

.is-validated > .error-message:first-child,
.is-validated > fieldset > .error-message,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message,
.is-validated select:invalid + .error-message,
.is-validated select:invalid + label + .error-message {
  display: block;
}
