.card-img {
  max-width: 300px;
  text-align: center;
  border: 3px solid var(--color-black);
  border-radius: 20px;
}

.card {
  background-color: var(--color-white);
  border: 3px solid var(--color-black);
  max-width: 500px;
}

.card:hover {
  background-color: #E2E5E7;
}

.display-card {
  max-height: 400px;
  max-width: 350px;
}

.display-img {
  max-width: 200px;
}

.display-img:hover {
  transform: scale(1.1);
  transition: all .2s linear;
}

.review-card {
  max-height: 400px;
  background-color: var(--color-secondary);
}

.review-card:hover {
  transform: scale(1.1);
  transition: all .2s linear;
}
