.legend-title {
  color: var(--color-primary);
}

.form-error {
  color: red;
}

.form-label {
  color: var(--color-primary-dark);
}

.sidebar {
  background-color: var(--color-secondary);
  border: 5px solid var(--color-black);
  max-width: 500px;
}
