.heading-banner {
  background-color: var(--color-primary);
  color: var(--color-white);
}

#heading-banner {
  color: var(--color-white);
}

@media only screen and (min-width: 60em) {

  .banner-heading {
    text-align: right;
  }

  .banner {
    max-height: 500px;
    overflow: hidden;
  }

  .banner-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: transparent;
  }

  .banner-btn {
    text-align: center;
  }

}
